In [1]:
# The code was removed by Watson Studio for sharing.

,Date,Nominal Price,Net Change,Change (%),Bid,Ask,P/E(x),High,Low,Previous Close,Share Volume (000),Turnover (000),Lot Size
0,2014-02-21,10.94,0.14,1.296,10.90,10.96,16.15,11.06,10.70,10.80,5016,54589,1000.0
1,2014-02-24,11.00,0.06,0.548,10.96,10.98,16.24,11.06,10.90,10.94,3950,43407,1000.0
2,2014-02-25,10.68,0.32,2.909,10.68,10.70,15.76,10.98,10.58,11.00,4958,53324,1000.0
3,2014-02-26,11.22,0.54,5.056,11.20,11.24,16.56,11.42,10.42,10.68,11699,130270,1000.0
4,2014-02-27,11.88,0.66,5.882,11.86,11.88,17.79,12.50,11.38,11.22,20283,240366,1000.0